* {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 30px;
}

h1, h2 {
    padding: 10px;
    color: blueviolet;
}

li, li a {
    padding: 2px;
    text-decoration: none;
}

li a {
    color: rgb(173, 107, 235);
    font-weight: 700;
}


